matplotlib==3.9.1
mplcursors==0.5.3
numpy==1.24.3
pinecone==4.0.0
plotly==5.23.0
pygame==2.6.0
python-dotenv==1.0.1
requests==2.32.3
scikit-learn==1.5.1
spotipy==2.24.0
streamlit==1.36.0
torch==2.4.0+cu124
torchaudio==2.4.0
tqdm==4.66.4
transformers==4.43.2
